input{
    border-radius: 10px;
    width:200px ;
    height:25px; 
}
label{
    font-size: xx-large;
    font-weight: 10px;
    color:azure;
}
.bg{
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    margin-top: 200px;
    margin-left: 250px;
    margin-right: 250px;
    padding:20px;
}
button{
    padding:10px;
    width:150px;
    margin-top:15px;
    border-radius: 10px;
    background-color: burlywood;
    color: azure;
    font-size: larger;
}
.pg{
    display: flex;
    justify-content: center;
}

button:hover{
    background-color:chartreuse;
    color: black;
}